<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EvoEarth</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sarina&display=swap" rel="stylesheet"> 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap" rel="stylesheet">
<style>
.welcome {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
</style>
</head>
<div class="container">
<body class="row mx-3">
<!--TOP ADDRESS-->
    <div class="row text-center py-2" style="background-color: rgb(133, 220, 247);">
        <div class="row">
            <div class="col"><i class="bi bi-geo-alt-fill"></i> Chennai, Tamilnadu, India</div>
            <div class="col"><i class="bi bi-envelope-at"></i> xyz456@gmail.com</div>
            <div class="col">Learn. Evolve. Empower.</div>
        </div>
    </div>
<!--Home Brand-->  
    <div class="row" style="background-color: rgb(218, 250, 218);">
        <div class="row" style="padding: 3% 2% 2% 2%">
            <a href="/" class="col" style="text-decoration:none;"><h1 style="font-family: 'Sarina', cursive; color:rgb(73, 230, 41);  font-size: 3rem;"><img src="static/4393260.png" style="height:50px; width:50px;" alt="EvoEarth"> EvoEarth</h1></a>
            <div class="col-3"></div>
            <div class="col py-3" style="font-family:'Sarina', cursive;font-weight: 400;font-style: normal;font-size:20px">Where You Grow, the World Grows.</div>
        </div>
    </div>
<!--EvoSci - EvoFarm - EvoGovern  -  EvoMan-->
    <div class=" row text-center py-4">
        <h1 class="col" style="font-family: 'Sarina', cursive; color: #2776d6; font-size: 25px;"><img src="static/nest (2).png" style="height:40px;width:40px" alt="evoSci"> <a href="/evoSci" style="text-decoration:none"><span style="color:rgb(73, 230, 41);">Evo</span>Sci</a></h1>
        <h1 class="col" style="font-family: 'Sarina', cursive; color: #2776d6; font-size: 25px;"><img src="static/money-growth.png" style="height:40px;width:40px" alt="evoSci"> <a href="/evoMoney" style="text-decoration:none"><span style="color:rgb(73, 230, 41);">Evo</span>Money</a></h1>
        <h1 class="col" style="font-family: 'Sarina', cursive; color: #2776d6; font-size: 25px;"><img src="static/bank.png"style="height:30px;width:30px" alt="evogovern"> <a href="/evoGovern" style="text-decoration:none"><span style="color:rgb(73, 230, 41);">Evo</span>Govern</a></h1>
        <h1 class="col" style="font-family: 'Sarina', cursive; color: #8203cc; font-size: 25px;"><img src="static/brain.png" alt="evoman" style="height:40px;width:40px;"><a href="/evo_man" style="text-decoration:none"><span style="color:rgb(73, 230, 41);">Evo</span>Man</a> </h1>
    </div>
<!--Nav Bar-->
    <div class="row">
        <hr>
        <div class="row">
            <div class="col-9"></div>
            <div class="col" style="font-size:20px;">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                  <a class="nav-link" href="#">Features</a>
                  <a class="nav-link" href="#">Pricing</a>
                </div>
              </div>
            </div>
          </nav>
        </div>
        </div>
        <hr>
    </div>
<!--Welcome-->
<div class="row" style="background:linear-gradient(rgb(161, 241, 161),rgb(113, 203, 238));">
    <div class="container-fluid py-3">
        <div class="row">
            <div class="col">
                <div class="row">
                <span class="fs-1 welcome">Welcome To EvoEarth</span>
                <br><span>Where you Grow, the World Grows</span>
                </div> <br>
                <div>Explore a digital platform built to guide your growth — in technology, personal development, and financial strength.</div>
             <br>   <a href="/earthSignUp"><button class="btn btn-warning">GET STARTED</button> </a>
            </div>
                <img class="col" src="static/OIP (4).jpeg" style="height:300px;width:500px" alt="">
            </div>
        </div>
        </div>
<!--Student skill Tracker-->
<div class="row my-2" style="height:400px; background-color: #05172c;">
    <div class="row">
      <div class="col-5 " id="studentSkillTracker" style="height:400px;width:350px;background-repeat:none; background-image: url('static/OIP (3).jpeg');background-size: cover; "><p class="fs-2 pt-5 mt-5 pt-5 font_skill_track d-flex justify-content-center align-items-center"><br>Student<br>Skill<br>Tracker<br>
      <p style="font-size:16px;" class="justify-content-center ps-5 mt-3 ms-5">Track your growth. <br>Celebrate your progress.</p></p></div>
      <div class="col text-white">
        <p class="p-3"> The <b>Student Skill Tracker</b> is a core feature of <b><i>EvoSci</i></b>, designed to help learners monitor, measure, and master their personal development journey.<br>
<br>  
          With this tool, you can:
          <ul class="list-unstyled tick-list ms-4">
            <li><i class="bi bi-check-circle-fill text-white me-2"></i> Log your skills and learning milestones</li>
            <li><i class="bi bi-check-circle-fill text-white me-2"></i> Set personal goals and track your improvement over time</li>
            <li><i class="bi bi-check-circle-fill text-white me-2"></i> Visualize your progress through clean, interactive dashboards</li>
            <li><i class="bi bi-check-circle-fill text-white me-2"></i> Discover areas of strength and identify what to focus on next</li>
          </ul>
          <div class="ms-3">Whether you're learning to code, improving communication, or exploring new technologies, the Student Skill Tracker keeps you organized, motivated, and moving forward — all in one place.
         </div><br> </p>
      </div>
    </div>
  </div>
<!--end-->
<div class="row text-white p-3" style="background:grey;">
    <div class="col"><p>Email  : EvoEarth22@gmail.com</p>
    <p>Phone  : 55555 55555</p></div>    
</div>
<div class="row text-center p-2 text-white bg-dark">@Copyright 2025 EvoEarth</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</div>
</html>